* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-body {
  font-family: "Inter", sans-serif;
}
.body {
  padding: 0 120px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.nav-items ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
}
.nav-btn {
  width: 164px;
  height: 44px;
  background-color: #30b868;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.nav-btn:hover {
    background-color: #000803;
    transition: transform 0.3s, background-color 0.3s;
    transform: translateY(-5px);
}
.hero {
    background: url(/assets/assets/hero-bg.png) rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.badge {
    background: white;
    color: #30B868;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 20px;
}

.highlight {
    color: #30B868;
}

.hero p {
    max-width: 700px;
    margin: 0 auto 30px;
    color: #D1D5DB;
}

/* Buttons & Hover Effects */
.btn-primary, .btn-main {
    background: #30B868;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover, .btn-main:hover {
    background: #258f51;
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 15px;
}

.btn-outline:hover {
    background: white;
    color: black;
}