* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation-body {
  font-family: "Inter", sans-serif;
}
.body {
  padding: 0 120px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.nav-items ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
}
.nav-btn {
  width: 164px;
  height: 44px;
  background-color: #30b868;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
